<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="discotequeEntities" connectionString="metadata=res://*/discotequeModel.csdl|res://*/discotequeModel.ssdl|res://*/discotequeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=discoteque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="discoteque.Properties.Settings.discotequeConnectionString" connectionString="Data Source=localhost;Initial Catalog=discoteque;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UsuarioWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/discoteque/UsuarioWS" binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding" contract="UsuarioService.UsuarioWS" name="UsuarioWSPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>