<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="discotequeEntities" connectionString="metadata=res://*/discotequeModel.csdl|res://*/discotequeModel.ssdl|res://*/discotequeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=discoteque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="discoteque.Properties.Settings.discotequeConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=discoteque;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UsuarioWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/discoteque/UsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
        contract="UsuarioService.UsuarioWS" name="UsuarioWSPort" />
    </client>
  </system.serviceModel>
</configuration>