<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UsuarioWSPortBinding" />
        <binding name="ProductoWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/discoteque/UsuarioWS" binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding" contract="UsuarioService.UsuarioWS" name="UsuarioWSPort" />
      <endpoint address="http://localhost:8080/discoteque/ProductoWS" binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding" contract="ProductoSevice.ProductoWS" name="ProductoWSPort" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="discotequeEntities" connectionString="metadata=res://*/discotequeModel.csdl|res://*/discotequeModel.ssdl|res://*/discotequeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PATRICIO-PC;initial catalog=discoteque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="discoteque.Properties.Settings.discotequeConnectionString"
      connectionString="Data Source=PATRICIO-PC;Initial Catalog=discoteque;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>